/**
 * Hacker theme variables
 */

:root {
  --base-color: #00ff00;
  --border: dashed 1px rgba(0, 255, 0, 0.9);
  --selection-background: rgba(0, 255, 0, 0.99);
  --selection-text: #000;
  --background-color: #000;
  --text-color: var(--base-color);
  --placeholder-color: var(--base-color);
  --link-color: var(--base-color);
  --code-color-1: #aaaaaa;
  --code-color-2: #ffffcc;
  --code-color-3: #F00000;
  --code-color-4: #F0A0A0;
  --code-color-5: #b38aff;
  --code-color-6: #5ba711;
  --code-color-7: #e4e477;
  --code-color-8: #000080;
  --code-color-9: #05ca05;
  --code-color-10: #888888;
  --code-color-11: #555555;
  --code-color-12: #800080;
  --code-color-13: #00d4d4;
  --code-color-14: #00c1c1;
  --code-color-15: #ed9d13;
  --code-color-16: #1e90ff;
  --code-color-17: #800000;
  --code-color-18: #bbbbbb;
}

/* Making profile photo circular */

.profile-photo {
    border-radius: 50%;
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
}

/* Centering header content */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Adjust padding as needed */
}


/* Really terrible attempt at a glitch effect in css */

.glitch {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    display: inline-block;
    animation: noise-anim 3s infinite linear alternate-reverse;
}

.glitch::before,
.glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.glitch::before {
    left: 2px;
    text-shadow: -1px 0 red;
    clip: rect(44px, 450px, 56px, 0);
}

.glitch::after {
    left: -2px;
    text-shadow: 1px 0 blue;
    clip: rect(24px, 500px, 56px, 0);
}

@keyframes noise-anim {
    0%, 20%, 40%, 60%, 80%, 100% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-5px, 5px);
    }
    50% {
        transform: translate(-5px, -5px);
    }
    75% {
        transform: translate(5px, 5px);
    }
}

/* 404.html container to center the 404 shit */

.error-container {
    text-align: center;
    margin-top: 1vh; /* Adjust as needed to center vertically */
}

.glitch-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
}
